.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family:'Josefin Sans', sans-serif;
    z-index: 999;
}
.top-left,.top-right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-center{
    flex: 6;
}
.top-icon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.top-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.top-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-list-item{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300px;
    cursor: pointer;
}
.top-search-icon{
    font-style: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
